<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{error}} {{message}}</title>
    </head>
    <body>
        <h1>{{error}} {{message}}</h1>
        <p>Here are some links you might want</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/welcome">Welcome Form</a></li>
        </ul>
        <footer>Any questions please dm DusterTheFirst#4191</footer>
    </body>
</html>